.omega.sheet.advancedsynth {
  .logo_futuretechnologies {
    background: @logo_futuretechnologies;
    width: 95px;
    height: 57px;
  }
  .logo_earthshield {
    background: @logo_earthshield;
    width: 95px;
    height: 57px;
  }
  .logo_hegemon {
    background: @logo_hegemon;
    width: 95px;
    height: 57px;
  }
  .logo_cyberlife {
    background: @logo_cyberlife;
    width: 95px;
    height: 57px;
  }
  .logo_prophetiaincorporated {
    background: @logo_prophetiaincorporated;
    width: 95px;
    height: 57px;
  }
  .ssprogtable {
    font: 0.9em "frutiger";
    text-transform: uppercase;
    td:nth-child(1) {
      width: 90%;
      cursor: pointer;
    }
    td:nth-child(2) {
      width: 10%;
      text-align: center;
    }
    input {
      width: 2em;
    }
    .caract-line {
      background-color: #143c42;
      font-size: 1em;
      font-weight: bold;
      padding-right: 2em;
      cursor: pointer;
      .caract-value {
        padding-left: 1rem;
      }
    }
  }
}
