.omega-journal {
  background-color: #f8fcfc;
  font: 1em "frutiger";
  color: black;
  padding: 0.5em;
  p {
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
  }
  .noire {
    color: black;
    font-size: 0.9rem;
  }
  .liste-blanche {
    list-style-type: circle;
    font-size: 1.5rem;
    margin-left: 2em;
    .appui {
      font-weight: bold;
      color: #194c7a;
      font-size: 0.9rem;
    }
  }
  .liste-noire {
    font-size: 1.5rem;
    margin-left: 2em;
    .appui {
      font-weight: bold;
      color: #194c7a;
      font-size: 0.9rem;
    }
  }
  .liste-bleue {
    color: #0873b9;
    font-size: 1.5rem;
    margin-left: 2em;
    .appui {
      font-weight: bold;
      color: #194c7a;
      font-size: 0.9rem;
    }
  }
  .liste-verte {
    color: #00974a;
    font-size: 1.5rem;
    margin-left: 2em;
    .appui {
      font-weight: bold;
      color: #194c7a;
      font-size: 0.9rem;
    }
  }
  .liste-rouge {
    color: #c6161b;
    font-size: 1.5rem;
    margin-left: 2em;
    .appui {
      font-weight: bold;
      color: #194c7a;
      font-size: 0.9rem;
    }
  }
  h1 {
    font: 3em "exo2";
    color: #194c7a;
    text-align: center;
  }
  h2 {
    font: 2em "exo2";
    color: #194c7a;
    text-align: center;
    font-weight: bold;
  }
  h3 {
    font: 1.5em "exo2";
    color: white;
    background-color: #f15923;
    border-bottom: 2px solid #fcc451;
    border-top-right-radius: 20px 20px;
    text-transform: uppercase;
  }
  h4 {
    font: 1.2em "exo2";
    font-weight: bold;
    color: #f15923;
  }
  .smalltitle {
    font: 1em "exo2";
    font-weight: bold;
    color: #ec6b05;
    padding-top: 2px;
  }
  .NPC-titre {
    font: 1.2em "helvetica";
    font-weight: bold;
    padding: 4px 0 4px 0;
    color: white;
    background-color: #f15923;
    border-top-right-radius: 20px 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .confrontation {
    background-color: #c0ccd1;
    font: 1em "exo2";
    text-align: justify;
    color: #214676;
    padding-bottom: 4px;
    .title {
      font: 1.2em "helvetica";
      font-weight: bold;
      color: white;
      background-color: #214676;
      text-transform: uppercase;
    }
  }
  table {
    th {
      background-color: #214676;
      color: #fff;
    }
    tr:nth-child(even) {
      background: #ccc;
    }
    tr:nth-child(odd) {
      background: #fff;
    }
  }
  .insert {
    background-color: #829fa8;
    margin: 3em;
    padding: 1em;
    border: 2px solid #422a1e;
    box-shadow: 0 0 12px #aaa;
    border-radius: 15px 15px 15px 15px;
    p {
      font-size: 1em;
      text-indent: 0;
      text-align: justify;
      border-left: 1em;
      border-right: 1em;
    }
    h4 {
      color: black;
    }
    .smalltitle {
      font: 1em "exo2";
      font-weight: bold;
      color: white;
      padding-top: 2px;
    }
  }
  .insert-black {
    background-color: black;
    margin: 4em;
    padding: 1em;
    color: #008b3b;
    border: 2px solid #008b3b;
    border-radius: 20px 20px 20px 20px;
  }
  .appui {
    font-weight: bold;
    color: #194c7a;
  }
  .titre_pnjbloc {
    font: 1.3em "exo2";
    color: white;
    background-color: #f15923;
    border-top-right-radius: 20px 20px;
    text-align: center;
    font-weight: bold;
  }
}
