.omega.sheet.vaisseau {
  .window-content {
    background: @vaisseausheet-background;
    background-color: black;
    font: @default-font;
    color: white;
  }
  .uniqueprogtable {
    font: 1.1em "frutiger";
    text-transform: uppercase;
  }
  .small-input {
    width: 2em;
  }

  .vaisseauimg {
    align-self: center;
    width: 220px;
    height: 129px;
  }
  .vaisseauheadgrid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    .col-image-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 7;
      justify-content: center;
    }
    .row1 {
      grid-row: 1 / 2;
    }
    .row2 {
      grid-row: 2/3;
    }
    .row3 {
      grid-row: 3 / 4;
    }
    .row4 {
      grid-row: 4 / 5;
    }
    .row5 {
      grid-row: 5 / 6;
    }
    .col3 {
      grid-column: 3 / 4;
    }
    .col4 {
      grid-column: 4 / 5;
    }
    .col5 {
      grid-column: 5 / 6;
    }
    .col6 {
      grid-column: 6 / 7;
    }
    .col7 {
      grid-column: 7 / 8;
    }
  }
  .pont-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    table {
      border: none;
      margin: none;
    }
    .bordrouge {
      border: 3px solid rgba(226, 19, 19, 0.76);
    }
    .bordvert {
      border: 3px solid rgba(14, 104, 67, 0.76);
    }
    .bordjaune {
      border: 3px solid burlywood;
    }
    .regroupement-bloc {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 45%;
      background-color: rgba(0, 0, 0, 0.3);
      border-style: dashed;
      margin-top: 0.3em;
      margin-right: 0.5em;
      .nameline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font: 1rem "helvetica";
        padding: 0.2em 0 0.5em 0.5em;
      }
    }
  }
  .equipage-tab {
    table {
      border: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      .equipagedrop {
        background-color: rgba(0, 0, 0, 0.3);
        border: 3px solid rgba(167, 146, 228, 0.76);
        border-style: dashed;
        margin-top: 0.3em;
        margin-right: 0.5em;
      }
    }
  }
}
