@font-face {
  font-family: "exo2";
  src: url("./assets/fonts/exo2regular.ttf");
}
@font-face {
  font-family: "exo2";
  src: url("./assets/fonts/exo2bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "exo2";
  src: url("./assets/fonts/exo2italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "exo2";
  src: url("./assets/fonts/exo2bolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/helvetica.ttf");
}
@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/helveticabold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/helveticaoblique.ttf");
  font-style: italic;
}
@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/helveticaboldoblique.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "courier";
  src: url("./assets/fonts/courierprimeregular.ttf");
}
@font-face {
  font-family: "frutiger";
  src: url("./assets/fonts/frutiger.woff");
}
@font-face {
  font-family: "frutiger";
  src: url("./assets/fonts/frutigerbold.woff");
  font-weight: bold;
}
.diode {
  display: block;
  width: 0px;
  height: 0px;
  outline: none;
  padding: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.diode-small {
  display: block;
  width: 0px;
  height: 0px;
  outline: none;
  padding: 8px 8px 8px 8px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.diode-rougeplus {
  background: center / contain no-repeat url('./assets/image/diodes/diode_rouge_plus.webp');
}
.diode-rouge {
  background: center / contain no-repeat url('./assets/image/diodes/diode_rouge.webp');
}
.diode-verte {
  background: center / contain no-repeat url('./assets/image/diodes/diode_verte.webp');
}
.diode-bleue {
  background: center / contain no-repeat url('./assets/image/diodes/diode_bleue.webp');
}
.diode-blanche {
  background: center / contain no-repeat url('./assets/image/diodes/diode_blanche.webp');
}
.diode-noire {
  background: center / contain no-repeat url('./assets/image/diodes/diode_noire.webp');
}
.diode-noiremoins {
  background: center / contain no-repeat url('./assets/image/diodes/diode_noire_moins.webp');
}
.small-input {
  width: 2em;
}
.logo_firme {
  display: block;
  width: 0px;
  height: 0px;
  outline: none;
  padding: 29px 48px 28px 47px;
  background-repeat: no-repeat;
}
.logo_futuretechnologies {
  background: center / contain no-repeat url('./assets/image/logo/logo_futuretechnologies.webp');
}
.logo_earthshield {
  background: center / contain no-repeat url('./assets/image/logo/logo_earthshield.webp');
}
.logo_hegemon {
  background: center / contain no-repeat url('./assets/image/logo/logo_hegemon.webp');
}
.logo_cyberlife {
  background: center / contain no-repeat url('./assets/image/logo/logo_cyberlife.webp');
}
.logo_prophetiaincorporated {
  background: center / contain no-repeat url('./assets/image/logo/logo_prophetiaincorporated.webp');
}
.noover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.editor {
  height: 100%;
  width: 100%;
  background: #f5fdfb;
  box-shadow: inset 0 0 6px black;
  min-height: 5em;
  color: black;
}
.editor .editor-content {
  min-height: 5em;
  color: black;
}
.editor .tox.tox-tinymce {
  min-height: 10em;
}
.omega.sheet {
  padding: 5px 5px 5px 5px;
  /* Tooltip text */
}
.omega.sheet .window-content {
  background: repeat url('./assets/image/feuilleperso.webp');
  background-color: black;
  font: 1em "helvetica";
  color: white;
}
.omega.sheet .item-control:hover {
  text-shadow: 0 0 10px var(--color-active);
  box-shadow: none;
}
.omega.sheet textarea {
  resize: none;
}
.omega.sheet table tr:nth-child(2n) {
  background-color: inherit;
}
.omega.sheet input {
  background-color: #f5fdfb;
  box-shadow: inset 0 0 3px black;
}
.omega.sheet input:focus {
  background-color: #c3d4d0;
}
.omega.sheet select {
  background-color: #f5fdfb;
  box-shadow: inset 0 0 3px black;
  height: 1.5em;
}
.omega.sheet form {
  display: flex;
  flex-direction: row;
}
.omega.sheet .pointer {
  cursor: pointer;
}
.omega.sheet .right-icon {
  text-align: right;
  margin-left: auto;
  padding-right: 1em;
  font-size: 1.1em;
}
.omega.sheet .right-icon .sheet-change-lock {
  font: 1em "helvetica";
  font-size: 1.2rem;
  color: #88c083;
}
.omega.sheet .portraitimg {
  align-self: center;
  width: 110px;
  height: 129px;
}
.omega.sheet table {
  white-space: nowrap;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.3);
}
.omega.sheet .redline {
  background: center / contain no-repeat url("./assets/image/lignerouge.webp");
  height: 16px;
}
.omega.sheet .lignejaune {
  background: center / contain no-repeat url("./assets/image/lignejaune.webp");
  height: 28px;
}
.omega.sheet .bloodline {
  background: center / contain no-repeat url("./assets/image/bloodline.webp");
  height: 28px;
}
.omega.sheet .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 30%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}
.omega.sheet .tooltip:hover .tooltiptext {
  visibility: visible;
}
.omega.sheet .main .tablename {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
}
.omega.sheet .main .tablename thead th:nth-child(1) {
  width: 20%;
}
.omega.sheet .main .tablename thead th:nth-child(2) {
  width: 15%;
  text-align: center;
}
.omega.sheet .main .tablename thead th:nth-child(3) {
  width: 10%;
  text-align: right;
}
.omega.sheet .main .tablename thead th:nth-child(4) {
  width: 15%;
}
.omega.sheet .main .tablename thead th:nth-child(5) {
  width: 10%;
}
.omega.sheet .main .tablename thead th:nth-child(6) {
  width: 30%;
}
.omega.sheet .main .tablename .pcname {
  font: 2rem "courier";
}
.omega.sheet .main .tablename .name-text {
  padding: 0 0.5em 0 0.5em;
  font: 0.9 rem "exo2";
}
.omega.sheet .main .tablename .pcfirme {
  font: 1em "exo2";
  padding: 0 0.5em 0 0.5em;
}
.omega.sheet .main .tablename .chancetable thead th:nth-child(1) {
  width: 20%;
}
.omega.sheet .main .tablename .chancetable thead th:nth-child(2) {
  width: 20%;
}
.omega.sheet .main .tablename .chancetable thead th:nth-child(3) {
  width: 20%;
}
.omega.sheet .main .tablename .chancetable thead th:nth-child(4) {
  width: 20%;
}
.omega.sheet .main .tablename .chancetable thead th:nth-child(5) {
  width: 20%;
}
.omega.sheet .main .central-block {
  display: flex;
  flex-direction: row;
}
.omega.sheet .main .central-block .stats-block {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1em;
}
.omega.sheet .main .central-block .stats-block .ssprogram-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.omega.sheet .main .central-block .stats-block .prog-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.omega.sheet .main .central-block .stats-block .stats-block-name {
  font: 1.5rem "exo2";
  text-align: center;
  padding-top: 3px;
}
.omega.sheet .main .central-block .stats-block .caract-line {
  text-align: center;
}
.omega.sheet .main .central-block .stats-block .program-line {
  cursor: pointer;
  color: white;
  padding: 0 1em 0 1em;
}
.omega.sheet .main .central-block .stats-block .program-line .prog-value {
  width: 29px;
  height: 25px;
  background-image: url("./assets/image/cadre1.webp");
  text-align: center;
}
.omega.sheet .main .aux-block {
  text-align: center;
}
.omega.sheet .main .aux-block input {
  width: 2em;
}
.omega.sheet .main .aux-block .stats-block-name {
  font: 1.5rem "exo2";
  text-align: center;
  padding-top: 3px;
}
.omega.sheet .main .aux-block table thead th:nth-child(1) {
  width: 20%;
}
.omega.sheet .main .aux-block table thead th:nth-child(2) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(3) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(4) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(5) {
  width: 20%;
}
.omega.sheet .main .aux-block table thead th:nth-child(6) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(7) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(8) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(9) {
  width: 20%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(10) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .aux-block table thead th:nth-child(11) {
  width: 5%;
  text-align: center;
}
.omega.sheet .main .diodesarmes {
  text-align: center;
}
.omega.sheet .main .combat-tab .armes-title {
  font: 1.5em "frutiger";
  text-align: center;
  padding: 2px;
}
.omega.sheet .main .combat-tab .weapontable thead th:nth-child(1) {
  width: 50%;
}
.omega.sheet .main .combat-tab .weapontable thead th:nth-child(2) {
  width: 40%;
}
.omega.sheet .main .combat-tab .weapontable thead th:nth-child(3) {
  width: 10%;
}
.omega.sheet .main .combat-tab .weapontable td {
  text-align: center;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(1) {
  width: 24%;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(2) {
  width: 10%;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(3) {
  width: 23%;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(4) {
  width: 10%;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(5) {
  width: 23%;
}
.omega.sheet .main .combat-tab .combat-actions table thead th:nth-child(6) {
  width: 10%;
}
.omega.sheet .main .combat-tab .combat-actions table td {
  text-align: center;
}
.omega.sheet .main .combat-tab table {
  margin: 0;
}
.omega.sheet .main .chassis-tab .chassis-block-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: 1.5rem "exo2";
  text-align: center;
  padding-top: 3px;
}
.omega.sheet .main .chassis-tab .chassisname {
  font-weight: bold;
  color: #448f41;
}
.omega.sheet .main .chassis-tab .chassis-title {
  font: 1.5em "frutiger";
  text-align: center;
  padding: 2px;
}
.omega.sheet .main .chassis-tab .zonededrop {
  font: 1.5rem "exo2";
  width: 100%;
  text-align: center;
  color: #e0d7ab;
  padding: 1em 0 1em 0;
}
.omega.sheet .main .chassis-tab .extensions-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.omega.sheet .main .chassis-tab .extensions-block .extensioncontenu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 45%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(226, 19, 19, 0.76);
  border-style: dashed;
  margin-top: 0.3em;
  margin-right: 0.5em;
}
.omega.sheet .main .chassis-tab .extensions-block .extensioncontenu .nameline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-between;
  flex-grow: 1;
  font: 1rem "courier";
  padding: 0.7em 0 0.5em 1em;
}
.omega.sheet .main .chassis-tab .extensions-block .extensioncontenu .nameline .icon-group {
  width: 40px;
  text-align: right;
}
.omega.sheet .main .chassis-tab .extensions-block .extensioncontenu details > summary {
  cursor: pointer;
  list-style: none;
}
.omega.sheet .sheet-tabs {
  display: flex;
  flex-direction: row;
  font-size: 1, 5em;
}
.omega.sheet .tab-name {
  padding: 0.5em 0.5em 0.3em 0.5em;
}
.omega.sheet .tab-name.active {
  border: 1px solid black;
  color: #eef099;
  border-bottom-width: 0;
}
.omega.sheet .equipementcontenu {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(21, 121, 29, 0.76);
  margin-top: 0.5em;
}
.omega.sheet .equipementcontenu .nameline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: 1rem "helvetica";
  padding: 1em 0 0.5em 1em;
}
.omega.sheet .equipementcontenu details > summary {
  cursor: pointer;
  list-style: none;
}
.omega.sheet.advancedsynth .ssprogtable {
  font: 1.1em "frutiger";
  text-transform: uppercase;
}
.omega.sheet.advancedsynth .ssprogtable td:nth-child(1) {
  width: 90%;
  cursor: pointer;
}
.omega.sheet.advancedsynth .ssprogtable td:nth-child(2) {
  width: 10%;
  text-align: center;
}
.omega.sheet.advancedsynth .ssprogtable input {
  width: 2em;
}
.omega.sheet.advancedsynth .ssprogtable .caract-line {
  background-color: #143c42;
  font-size: 1.1em;
  font-weight: bold;
  padding-right: 2em;
  cursor: pointer;
}
.omega.sheet.advancedsynth .ssprogtable .caract-line .caract-value {
  padding-left: 1rem;
}
.omega.sheet.advancedsynth .notes-tab .editor {
  height: 100%;
  width: 100%;
  background: #f5fdfb;
  box-shadow: inset 0 0 6px black;
  min-height: 5em;
  color: black;
}
.omega.sheet.advancedsynth .notes-tab .editor .editor-content {
  min-height: 5em;
  color: black;
}
.omega.sheet.advancedsynth .notes-tab .editor .tox.tox-tinymce {
  min-height: 10em;
}
.omega.sheet.synthetique .synthprogtable {
  font: 1.1em "frutiger";
  text-transform: uppercase;
}
.omega.sheet.synthetique .synthprogtable td:nth-child(1) {
  width: 90%;
  cursor: pointer;
}
.omega.sheet.synthetique .synthprogtable td:nth-child(2) {
  width: 10%;
  text-align: center;
}
.omega.sheet.synthetique .synthprogtable input {
  width: 2em;
}
.omega.sheet.synthetique .extensions-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.omega.sheet.synthetique .extensions-block .extensioncontenu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 45%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(226, 19, 19, 0.76);
  border-style: dashed;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
.omega.sheet.synthetique .extensions-block .extensioncontenu .nameline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font: 1rem "courier";
  padding: 0.5em 0 0.2em 1em;
}
.omega.sheet.synthetique .extensions-block .extensioncontenu details > summary {
  cursor: pointer;
  list-style: none;
}
.omega.sheet.organique .window-content {
  background: repeat url('./assets/image/fond_organique.webp');
  background-color: black;
  font: 1em "helvetica";
  color: white;
}
.omega.sheet.organique .uniqueprogtable {
  font: 1.1em "frutiger";
  text-transform: uppercase;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(1) {
  width: 24%;
  cursor: pointer;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(2) {
  width: 10%;
  text-align: center;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(3) {
  width: 23%;
  cursor: pointer;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(4) {
  width: 10%;
  text-align: center;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(5) {
  width: 23%;
  cursor: pointer;
}
.omega.sheet.organique .uniqueprogtable td:nth-child(6) {
  width: 10%;
  text-align: center;
}
.omega.sheet.organique .uniqueprogtable input {
  width: 2em;
}
.omega.sheet.organique .uniqueprogtable .caract-line {
  background-color: #143c42;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2em;
  cursor: pointer;
}
.omega.sheet.organique .uniqueprogtable .caract-line .caract-value {
  padding-left: 1rem;
}
.omega.sheet.organique .simpleauxtable {
  font: 0.9em "frutiger";
  text-transform: uppercase;
}
.omega.sheet.organique .simpleauxtable td:nth-child(1) {
  width: 30%;
  cursor: pointer;
}
.omega.sheet.organique .simpleauxtable td:nth-child(2) {
  width: 10%;
  text-align: center;
}
.omega.sheet.organique .simpleauxtable td:nth-child(3) {
  width: 10%;
  cursor: pointer;
}
.omega.sheet.organique .simpleauxtable td:nth-child(4) {
  width: 30%;
  text-align: center;
}
.omega.sheet.organique .simpleauxtable td:nth-child(5) {
  width: 10%;
  cursor: pointer;
}
.omega.sheet.organique .simpleauxtable td:nth-child(6) {
  width: 10%;
  text-align: center;
}
.omega.sheet.organique .simpleauxtable input {
  width: 2em;
}
.omega.sheet.organique .simpleauxtable .caract-line {
  background-color: #143c42;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2em;
  cursor: pointer;
}
.omega.sheet.organique .simpleauxtable .caract-line .caract-value {
  padding-left: 1rem;
}
.omega.sheet.organique .tab-personnalite .editor {
  height: 100%;
  width: 100%;
  background: #f5fdfb;
  box-shadow: inset 0 0 6px black;
  min-height: 5em;
  color: black;
}
.omega.sheet.organique .tab-personnalite .editor .editor-content {
  min-height: 5em;
  color: black;
}
.omega.sheet.organique .tab-personnalite .editor .tox.tox-tinymce {
  min-height: 10em;
}
.omega.sheet.vaisseau .window-content {
  background: repeat url('./assets/image/fond_fdp_vaisseau.webp');
  background-color: black;
  font: 1em "helvetica";
  color: white;
}
.omega.sheet.vaisseau .uniqueprogtable {
  font: 1.1em "frutiger";
  text-transform: uppercase;
}
.omega.sheet.vaisseau .small-input {
  width: 2em;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(1) {
  width: 20%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(2) {
  width: 15%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(3) {
  width: 20%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(4) {
  width: 20%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(5) {
  width: 10%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(6) {
  width: 10%;
}
.omega.sheet.vaisseau .vaisseauheadtable tbody td:nth-child(7) {
  width: 5%;
}
.omega.sheet.item .window-content {
  background: none;
  background-color: black;
  font: 1em "helvetica";
  color: white;
}
.omega.sheet.item textarea {
  resize: none;
}
.omega.sheet.item input {
  background-color: #f5fdfb;
  box-shadow: inset 0 0 3px black;
}
.omega.sheet.item input:focus {
  background-color: #c3d4d0;
}
.omega.sheet.item select {
  background-color: #f5fdfb;
  box-shadow: inset 0 0 3px black;
  height: 1.5em;
}
.omega.sheet.item form {
  display: flex;
  flex-direction: column;
}
.omega.sheet.item .right-icon {
  margin-left: auto;
  font: 1em "helvetica";
  font-size: 1.2rem;
  color: #e84d0e;
}
.omega.sheet.item .main img {
  align-self: center;
  width: 110px;
  height: 129px;
}
.omega.sheet.item .main table .diode {
  border: 1px solid var(--color-border-dark);
  width: 20px;
  height: 20px;
}
.omega.sheet.item .main table td,
.omega.sheet.item .main table th {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #7e2424;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.omega.sheet.item .main table .diode-rouge {
  background: center / contain no-repeat url('./assets/image/diodes/diode_rouge.webp');
}
.omega.sheet.item .main table .diode-verte {
  background: center / contain no-repeat url('./assets/image/diodes/diode_verte.webp');
}
.omega.sheet.item .main table .diode-bleue {
  background: center / contain no-repeat url('./assets/image/diodes/diode_bleue.webp');
}
.omega.sheet.item .main table .diode-blanche {
  background: center / contain no-repeat url('./assets/image/diodes/diode_blanche.webp');
}
.omega.sheet.item .main table .diode-noire {
  background: center / contain no-repeat url('./assets/image/diodes/diode_noire.webp');
}
.dialog {
  background-color: #fffdfc;
  display: flex;
  flex-direction: column;
  font: 1em "helvetica";
}
.dialog .intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dialog .intro .introImg {
  border: none;
  padding: 5px;
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
  align-self: center;
  max-width: 120px;
  max-height: 120px;
  display: inline;
}
.dialog .intro .introtext {
  font: 1em "helvetica";
  margin: 0.5em;
  padding-top: 1.5em;
  text-align: center;
}
.dialog .intro .introtable {
  border: none;
}
.dialog .intro .introtable td:nth-child(1) {
  width: 20%;
}
.dialog .intro .introtable td:nth-child(2) {
  width: 80%;
}
.dialog .intro .introtable .introImg {
  border: none;
  padding: 5px;
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: center;
  align-self: center;
  max-width: 120px;
  max-height: 120px;
  display: inline;
}
.dialog .intro .introtable .introtext {
  font: 1em "helvetica";
  padding: 2em;
  text-align: center;
}
.dialog .dialog-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dialog .dialog-main .rollmodifier {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 1em;
}
.dialog .dialog-main .rollmodifier input {
  width: 5em;
  margin: 0 0 1em 1em;
}
.dialog .dialog-main .rollmodifier select {
  width: 5em;
  margin: 0 0 1em 1em;
}
.dialog .dialog-main .difficulty {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 1em;
}
.dialog .dialog-main .difficulty input {
  width: 5em;
  margin: 0 0 1em 1em;
}
.dialog .dialog-main .difficulty select {
  width: 5em;
  margin: 0 0 1em 1em;
}
.chatroll {
  background: #2e3b38;
  background-color: black;
  display: flex;
  flex-direction: column;
  font: "exo2";
  color: white;
}
.chatroll .tooltip {
  position: relative;
  display: inline-block;
}
.chatroll .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8em;
  position: absolute;
  z-index: 1;
}
.chatroll .tooltip:hover .tooltiptext {
  visibility: visible;
}
.chatroll .intro {
  background: #2e3b38;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chatroll .intro .introImg {
  border: none;
  padding: 5px;
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
.chatroll .intro .introText {
  width: 210px;
  min-height: 60px;
  padding-top: 0.5em;
  font: "frutiger";
  text-align: center;
  vertical-align: middle;
}
.chatroll .resultText {
  font: "helvetica";
  padding: 1em 0.5em 0.5em 0.5em;
  text-align: center;
}
.chatroll .difficultyline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em 0 0.5em 0;
}
.chatroll .diodesresult {
  white-space: nowrap;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.chatroll .diodesresult thead th:nth-child(1) {
  width: 20%;
}
.chatroll .diodesresult thead th:nth-child(2) {
  width: 20%;
}
.chatroll .diodesresult thead th:nth-child(3) {
  width: 60%;
}
.chatroll .rerollicon {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1em;
}
