<div class="combat-tab">
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Programme</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Initiative</td>
                <td class="prog-text" data-field="dissipateur">{{localize "OMEGA.label.programmes.dissipateur"}}</td>
                <td class="prog-text" data-field="dissipateur">{{actorSystem.programmes.dissipateur.value}}</td>
            </tr>
            <tr>
                <td>Hacking</td>
                <td class="prog-text" data-field="hacking">{{localize "OMEGA.label.programmes.hacking"}}</td>
                <td class="prog-text" data-field="hacking">{{actorSystem.programmes.hacking.value}}</td>
            </tr>
            <tr>
                <td>Évasion</td>
                <td class="prog-text" data-field="detecteur">{{localize "OMEGA.label.programmes.detecteur"}}</td>
                <td class="prog-text" data-field="detecteur">{{actorSystem.programmes.detecteur.value}}</td>
            </tr>
            <tr>
                <td>Contre-mesures</td>
                <td class="prog-text" data-field="contremesure">{{localize "OMEGA.label.programmes.contremesure"}}</td>
                <td class="prog-text" data-field="contremesure">{{actorSystem.programmes.contremesure.value}}</td>
            </tr>
            <tr>
                <td>Défense</td>
                <td class="prog-text" data-field="defense">{{localize "OMEGA.label.programmes.defense"}}</td>
                <td class="prog-text" data-field="defense">{{actorSystem.programmes.defense.value}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Armes</h2>
    {{#each weapons as |item id|}}
    <table>
        <tbody>
            <tr>
                <td>{{item.name}}</td>
                <td class="weapon-attack" data-field={{item.id}}>item.system.weapon.attackprogname</td>
                <td class="weapon-attack" data-field={{item.id}}>item.system.weapon.attackvalue</td>
                <td><a class="item-control item-shoot" data-field="{{item.id}}" data-tooltip="Utiliser"><i
                            class="fas fa-gun"></i></a>
                    <a class="item-control item-edit" data-field="{{item.id}}" data-tooltip="Modifier"><i
                            class="fas fa-cog"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="diodesarmes">
        <thead>
            <tr>
                <th><img class="diode diode-noire"></th>
                <th><img class="diode diode-blanche"></th>
                <th><img class="diode diode-verte"></th>
                <th><img class="diode diode-bleue"></th>
                <th><img class="diode diode-rouge"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.system.weapon.effetdiode.noire.degat}} {{item.system.weapon.effetdiode.noire.label}}</td>
                <td>{{item.system.weapon.effetdiode.blanche.degat}} {{item.system.weapon.effetdiode.blanche.label}}</td>
                <td>{{item.system.weapon.effetdiode.bleue.degat}} {{item.system.weapon.effetdiode.bleue.label}}</td>
                <td>{{item.system.weapon.effetdiode.verte.degat}} {{item.system.weapon.effetdiode.verte.label}}</td>
                <td>{{item.system.weapon.effetdiode.rouge.degat}} {{item.system.weapon.effetdiode.rouge.label}}</td>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Type</th>
            <th>Autonomie</th>
            <th>Cadence</th>
            <th>Initiative</th>
            <th>Portée</th>
            <th>Effet de zone</th>
        </thead>
        <tbody>
            <tr>
                <td>{{item.system.weapon.type}}</td>
                <td>{{item.system.weapon.autonomie}}</td>
                <td>{{item.system.weapon.cadence}}</td>
                <td>{{item.system.weapon.initiative}}</td>
                <td>{{item.system.weapon.portee}}</td>
                <td>{{item.system.weapon.zone}}</td>
            </tr>
        </tbody>
    </table>
    {{/each}}
</div>