<div class="equipement-tab">
    <div class="equipement-column">
        {{#each equipements as |item id|}}
        <div class="equipementcontenu">
            <div class="nameline">
                <div>{{item.name}}</div>
                <div class="icon-group">
                    <a class="item-control item-edit" data-field="{{item.id}}" data-tooltip="Modifier"><i
                            class="fas fa-cog"></i></a>
                    {{#if ../unlocked}}
                    <a class="item-control item-delete" data-field="{{item.id}}"
                        data-tooltip="Supprimer"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
            </div>
            <details>
                <summary style="text-align:center;">Description</summary>
                {{{item.system.descriptionhtml}}}
            </details>
        </div>
        {{/each}}
    </div>
</div>