<form class="{{cssClass}}" autocomplete="off">
    <div class="main">
        <table class="tablename">
            <tbody>
                <tr>
                    <td rowspan="4"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></td>
                    <td class="name-text">{{localize "OMEGA.label.name"}}</td>
                    {{#if unlocked}}
                    <td><input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                        {{else}}
                    <td class="pcname">{{actor.name}}
                        {{/if}}
                    </td>
                    <td rowspan="4">
                        <table>
                            <thead>
                                <tr>
                                    <th>Chance</th>
                                    <th class="chance-diode-line">{{actorSystem.auxiliaires.chance}}
                                        {{#if unlocked}}
                                        <a class="chance-roll" data-field="chanceroll">
                                            <i class="fas fa-dice"></i>
                                        </a>
                                        {{/if}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center;">
                                <tr height="10px">
                                    <td><img class="diode diode-rouge" ></td>
                                    <td class="chance-diode-line">{{actorSystem.chance.rouge}}</td>
                                </tr>
                                <tr>
                                    <td><img class="diode diode-verte" ></td>
                                    <td class="chance-diode-line">{{actorSystem.chance.verte}}</td>
                                </tr>
                                <tr>
                                    <td><img class="diode diode-bleue" ></td>
                                    <td class="chance-diode-line">{{actorSystem.chance.bleue}}</td>
                                </tr>
                                <tr>
                                    <td><img class="diode diode-blanche" ></td>
                                    <td class="chance-diode-line">{{actorSystem.chance.blanche}}</td>
                                </tr>
                                <tr>
                                    <td><img class="diode diode-noire" ></td>
                                    <td class="chance-diode-line">{{actorSystem.chance.noire}}</td>
                                </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="name-text">{{localize "OMEGA.label.firme"}}</td>
                    {{#if unlocked}}
                    <td><input name="system.firme" type="text" value="{{actorSystem.firme}}" placeholder="firme" />
                        {{else}}
                    <td class="pcfirme">{{actorSystem.firme}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="name-text">Chassis</td>
                    <td class="pcfirme">{{actorSystem.chassisActif.label}}
                    </td>
                </tr>
                <tr>
                    <td class="right-icon">
                        <a class="sheet-change-lock" title="{{localize 'OMEGA.label.unlock_sheet'}}">
                            {{#if unlocked}}
                            <i class="fas fa-lock-open"></i>
                            {{else}}
                            <i class="fas fa-lock"></i>
                            {{/if}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="tab-name" data-tab="programmes">Programmes</b>
            <b class="tab-name" data-tab="chassis">Chassis</b>
            <b class="tab-name" data-tab="equipement">Équipement</b>
            <b class="tab-name" data-tab="notes">Notes</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="programmes">{{>
                systems/omega/templates/actor/tab/programmes.html}}</div>
            <div class="tab" data-group="primary" data-tab="chassis">{{>
                systems/omega/templates/actor/tab/chassis.html}}</div>
            <div class="tab" data-group="primary" data-tab="equipement">{{>
                systems/omega/templates/actor/tab/equipement.html}}</div>
            <div class="tab" data-group="primary" data-tab="notes">{{>
                systems/omega/templates/actor/tab/notes.html}}</div>
        </div>
        

    </div>
</form>