<form class="{{cssClass}}" autocomplete="off">
    <div class="main">
        <table>
            <tbody>
                <tr>
                    <td rowspan="4"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></td>
                    <td class="name-text">{{localize "OMEGA.label.name"}}</td>
                    {{#if unlocked}}
                    <td><input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                        {{else}}
                    <td class="pcname">{{actor.name}}
                        {{/if}}
                    </td>
                    <td rowspan="4"><div class="chancetable">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Chance</th>
                                    <th colspan="2" class="chance-diode-line">
                                        {{actorSystem.systemesauxiliaires.chance.max}}
                                        {{#if unlocked}}
                                        <a class="chance-roll" data-field="chanceroll">
                                            <i class="fas fa-dice"></i>
                                        </a>
                                        {{/if}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center;">
                                <tr height="10px">
                                    <td><img class="diode diode-rouge"></td>
                                    <td><img class="diode diode-verte"></td>
                                    <td><img class="diode diode-bleue"></td>
                                    <td><img class="diode diode-blanche"></td>
                                    <td><img class="diode diode-noire"></td>
                                </tr>
                                <tr>
                                    {{#if unlocked}}
                                    <td><input class="chance-diode-line small-input" title="rouge"
                                            name="system.chance.rouge" type="number"
                                            value="{{actorSystem.chance.rouge}}" />
                                    </td>
                                    <td><input class="chance-diode-line small-input" title="verte"
                                            name="system.chance.verte" type="number"
                                            value="{{actorSystem.chance.verte}}" />
                                    </td>
                                    <td><input class="chance-diode-line small-input" title="bleue"
                                            name="system.chance.bleue" type="number"
                                            value="{{actorSystem.chance.bleue}}" />
                                    </td>
                                    <td><input class="chance-diode-line small-input" title="blanche"
                                            name="system.chance.blanche" type="number"
                                            value="{{actorSystem.chance.blanche}}" />
                                    </td>
                                    <td><input class="chance-diode-line small-input" title="noire"
                                            name="system.chance.noire" type="number"
                                            value="{{actorSystem.chance.noire}}" />
                                    </td>
                                    {{else}}
                                    <td class="chance-diode-line">{{actorSystem.chance.rouge}}</td>
                                    <td class="chance-diode-line">{{actorSystem.chance.verte}}</td>
                                    <td class="chance-diode-line">{{actorSystem.chance.bleue}}</td>
                                    <td class="chance-diode-line">{{actorSystem.chance.blanche}}</td>
                                    <td class="chance-diode-line">{{actorSystem.chance.noire}}</td>
                                    {{/if}}
                                </tr>
                                <tr style="border-top: solid 2px white; padding: 2px 0px 2px 0px; ">
                                    <td colspan="3">Mise à jour</td>
                                    <td colspan="2" class="chance-diode-line">
                                        {{#if unlocked}}<input class="chance-diode-line small-input" title="Mise à jour"
                                            name="system.miseajour" type="number" value="{{actorSystem.miseajour}}" />
                                        {{else}}{{actorSystem.miseajour}}
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr style="border-top: solid 2px white; padding: 2px 0px 2px 0px; ">
                                    <td colspan="3">Déviance</td>
                                    <td colspan="2" class="chance-diode-line">
                                        {{#if unlocked}}<input class="chance-diode-line small-input" title="Déviance"
                                            name="system.deviance" type="number" value="{{actorSystem.deviance}}" />
                                        {{else}}{{actorSystem.deviance}}
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr style="border-top: solid 2px white; padding: 2px 0px 2px 0px; ">
                                    <td colspan="3">Dissidence</td>
                                    <td colspan="2" class="chance-diode-line">
                                        {{#if unlocked}}<input class="chance-diode-line small-input" title="Dissidence"
                                            name="system.dissidence" type="number" value="{{actorSystem.dissidence}}" />
                                        {{else}}{{actorSystem.dissidence}}
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table></div>
                    </td>
                </tr>
                <tr>
                    <td class="name-text">{{localize "OMEGA.label.firme"}}</td>
                    {{#if unlocked}}
                    <td><input name="system.firme" type="text" value="{{actorSystem.firme}}" placeholder="firme" />
                        {{else}}
                    <td class="pcfirme">{{actorSystem.firme}}
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="name-text">Chassis</td>
                    <td class="pcfirme">{{actorSystem.chassisActif.label}}
                    </td>
                </tr>
                <tr>
                    <td class="right-icon">
                        <a class="sheet-change-lock" title="{{localize 'OMEGA.label.unlock_sheet'}}">
                            {{#if unlocked}}
                            <i class="fas fa-lock-open"></i>
                            {{else}}
                            <i class="fas fa-lock"></i>
                            {{/if}}
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="sheet-tabs tabs" data-group="primary">
            <b class="tab-name" data-tab="programmes">Programmes</b>
            <b class="tab-name" data-tab="combat">Combat</b>
            <b class="tab-name" data-tab="chassis">Chassis</b>
            <b class="tab-name" data-tab="equipement">Équipement</b>
            <b class="tab-name" data-tab="notes">Notes</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="programmes">{{>
                systems/omega/templates/actor/tab/programmes.html}}</div>
            <div class="tab" data-group="primary" data-tab="combat">{{>
                systems/omega/templates/actor/tab/combat.html}}</div>
            <div class="tab" data-group="primary" data-tab="chassis">{{>
                systems/omega/templates/actor/tab/chassis.html}}</div>
            <div class="tab" data-group="primary" data-tab="equipement">{{>
                systems/omega/templates/actor/tab/equipement.html}}</div>
            <div class="tab" data-group="primary" data-tab="notes">{{>
                systems/omega/templates/actor/tab/notes.html}}</div>
        </div>


    </div>
</form>