<div class="omega-journal">
    <h3>Déreoulement d'un combat</h3>
    <h4>Phase 1 - Surprise</h4>
    <p>Jet de <span class="appui">Dérecteur</span> opposé à la plus petite <span class="appui">Contre-mesures</span>
        adverse.</p>
    <ul>
        <li class="liste-noire"><span class="noire">Pas d'initiative ce round, -1 en défense.</li>
        <li class="liste-blanche"><span class="noire">Pas d'initiative ce round.</span></li>
        <li class="liste-bleue"><span class="noire">Tirage d'initiative dégradé de 2 couleurs.</li>
        <li class="liste-verte"><span class="noire">Tirage d'initiative dégradé d'une couleur.</li>
        <li class="liste-rouge"><span class="noire">Pas d'effet de surprise.</li>
    </ul>
    <h4>Phase 2 – Initiative</h4>
    <h4>Phase 3 – Actions</h4>
    <p>Au choix: Action de déplacmeent ou action de combat.</p>
    <h4>Déplacement :</h4>
    <ul>
        <li>Allure lente (vitesse/2, +1 en défense si couvert disponible).</li>
        <li>Allure normale (vitesse)</li>
        <li>Allure rapide (vitesse*2, +1 en défense et -1 aux autres programmes)</li>
    </ul>
    <h4>Actions de corps-à-corps : </h4>
    <p><span class="smalltitle">Puissance :</span> +1 dégats par -1 défense.</p>
    <p><span class="smalltitle">Immobilisation :</span> Exterminateur contre Défense +1</p>
    <ul>
        <li class="liste-noire"><span class="noire">Attaquant -2 défense.</li>
        <li class="liste-blanche"><span class="noire">Echec.</span></li>
        <li class="liste-bleue"><span class="noire">Immobilisation pour 1 phase d'action.</li>
        <li class="liste-verte"><span class="noire">Immobilisation pour 2 phases d'action.</li>
        <li class="liste-rouge"><span class="noire">Immobilisation pour 3 phases d'action.</li>
    </ul>
    <p>Pour se libérer, jet d'Exterminateur - la diode doit être meilleure que celle de l'attaquant.</p>
    <p><span class="smalltitle">Projection :</span></p>
    <ul>
        <li class="liste-noire"><span class="noire">Attaquant -2 défense.</li>
        <li class="liste-blanche"><span class="noire">Echec.</span></li>
        <li class="liste-bleue"><span class="noire">La cible subit 1 dégât.</li>
        <li class="liste-verte"><span class="noire">La cible subit 2 dégâts.</li>
        <li class="liste-rouge"><span class="noire">La cible subit 3 dégâts, sa défense est réduite de 2.</li>
    </ul>
    <p><span class="smalltitle">Charge :</span>la distance doit être
        < Vitesse*2. Consomme deux diodes initiative.<br />
        Jet d'Exterminateur, si réussi les dégâts sont augmentés d'une couleur.
    </p>
    <h4>Actions de combat à distance : </h4>
    <p><span class="smalltitle">Tir visé :</span> +1 par tour d'action sacrifié. Bonus annulé si le personnage prend des
        dégâts.</p>
    <p><span class="smalltitle">Tir de suppression :</span> nécessite arme avec Rafale. Défense -1 pour l'attaquant,
        Défense +1 pour ses équipiers, les adversaires ont leur initiative retardée d'une couleur.</p>
    <p><span class="smalltitle">Mode rafale :</span> Permet de viser plusieurs cibles. -1 AAE par ciblesupplémentaire. 1
        tirage contre la plus haute défense, dégâts appliqués à toutes les cibles.</p>
    <h4>Hacking de combat</h4>
    <p>Test de Hacking opposé à Contre-mesures, pouvant cibler AAE, Exterminateur, Défense.</p>
    <ul>
        <li class="liste-noire"><span class="noire">Attaquant -1 Hacking jusquà fin du combat ou programme désactivé.
        </li>
        <li class="liste-blanche"><span class="noire">Echec.</span></li>
        <li class="liste-bleue"><span class="noire">Le programme désigné subit un malus de -1 jusqu'à la fin du tour.
        </li>
        <li class="liste-verte"><span class="noire">Le programme désigné subit un malus de -2 jusqu'à la fin du tour.
        </li>
        <li class="liste-rouge"><span class="noire">Le programme désigné subit un malus de -1 jusqu'à la fin du combat.
        </li>
    </ul>
</div>