<div class="omega-journal">
  <h2>Réparation et soins</h2>
  <h3>Mécanique</h3>
  <h4>Pod</h4>
  <p>Le POD dispose en général de 3 unités énergétiques.</p>
  <h4>Réparer le blindage</h4>
  <p>Jet de <span class="appui">Mécanique</span> pour récupérer du <span class="appui">blindage</span> perdu.</p>
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th style="text-align: center">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sans équipement, sous le feu ennemi</td>
        <td style="text-align: center">5</td>
      </tr>
      <tr>
        <td>Avec de l'équipement, pièces détachées</td>
        <td style="text-align: center">3</td>
      </tr>
      <tr>
        <td>A l'intérieur du POD</td>
        <td style="text-align: center">2</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li class="liste-noire">
      <span class="noire">La réparation s'est mal passée, l'Oméga perd 2 pts de </span><span class="appui">Blindage</span><span class="noire">, si pas possible 1 pt de </span
      ><span class="appui">Résistance moteur</span>.
    </li>
    <li class="liste-blanche"><span class="noire">Échec. Une nouvelle tentative sera à difficulté +1</span></li>
    <li class="liste-bleue"><span class="noire">La réparation fait regagner 2 pts de </span><span class="appui">Blindage</span>.</li>
    <li class="liste-verte">
      <span class="noire">La réparation fait regagner 3 pts de <span class="appui">Blindage</span>.</span>
    </li>
    <li class="liste-rouge">
      <span class="noire">La réparation fait regagner la totalité des pts de <span class="appui">Blindage</span>.</span>
    </li>
  </ul>
  <h4>Réparer la Résistance moteur</h4>
  <p>Jet de <span class="appui">Mécanique</span> pour récupérer de la <span class="appui">Résistance moteur</span> perdue.</p>
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th style="text-align: center">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sans équipement, sous le feu ennemi</td>
        <td style="text-align: center">6</td>
      </tr>
      <tr>
        <td>Avec de l'équipement, pièces détachées</td>
        <td style="text-align: center">4</td>
      </tr>
      <tr>
        <td>A l'intérieur du POD</td>
        <td style="text-align: center">3</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li class="liste-noire">
      <span class="noire">La réparation s'est mal passée, l'Oméga perd 1 pt de <span class="appui">Résistance moteur</span>.</span>
    </li>
    <li class="liste-blanche"><span class="noire">Échec. Une nouvelle tentative sera à difficulté +1</span></li>
    <li class="liste-bleue">
      <span class="noire">La réparation fait regagner 1 pts de <span class="appui">Résistance moteur</span>.</span>
    </li>
    <li class="liste-verte">
      <span class="noire">La réparation fait regagner 2 pts de <span class="appui">Résistance moteur</span>.</span>
    </li>
    <li class="liste-rouge">
      <span class="noire">La réparation fait regagner la totalité des pts de <span class="appui">Résistance moteur</span>.</span>
    </li>
  </ul>
  <h4>Réparer le blindage IEM</h4>
  <p>Jet de <span class="appui">Connexion</span> pour récupérer du <span class="appui">blindage IEM</span> perdu.</p>
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th style="text-align: center">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sans équipement, sous le feu ennemi</td>
        <td style="text-align: center">6</td>
      </tr>
      <tr>
        <td>Avec de l'équipement, pièces détachées</td>
        <td style="text-align: center">3</td>
      </tr>
      <tr>
        <td>A l'intérieur du POD</td>
        <td style="text-align: center">2</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li class="liste-noire">
      <span class="noire">La réparation s'est mal passée, l'Oméga perd 2 pts de </span><span class="appui">Blindage IEM</span><span class="noire">, si pas possible 1 pt d'</span
      ><span class="appui">Intégrité informatique</span>.
    </li>
    <li class="liste-blanche"><span class="noire">Échec. Une nouvelle tentative sera à difficulté +1</span></li>
    <li class="liste-bleue"><span class="noire">La réparation fait regagner 2 pts de </span><span class="appui">Blindage IEM</span>.</li>
    <li class="liste-verte"><span class="noire">La réparation fait regagner 3 pts de </span><span class="appui">Blindage IEM</span>.</li>
    <li class="liste-rouge"><span class="noire">La réparation fait regagner la totalité des pts de </span><span class="appui">Blindage IEM</span>.</li>
  </ul>
  <h4>Réparer le Intégrité informatique</h4>
  <p>Jet de <span class="appui">Connexion</span> pour récupérer de l'<span class="appui">Intégrité informatique</span> perdu.</p>
  <table>
    <thead>
      <tr>
        <th>Situation</th>
        <th style="text-align: center">Difficulté</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sans équipement, sous le feu ennemi</td>
        <td style="text-align: center">Impossible</td>
      </tr>
      <tr>
        <td>Avec de l'équipement, pièces détachées</td>
        <td style="text-align: center">5</td>
      </tr>
      <tr>
        <td>A l'intérieur du POD</td>
        <td style="text-align: center">3</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li class="liste-noire">
      <span class="noire">La réparation s'est mal passée, l'Oméga perd 1 pt d'<span class="appui">Intégrité informatique</span>.</span>
    </li>
    <li class="liste-blanche"><span class="noire">Échec. Une nouvelle tentative sera à difficulté +1</span></li>
    <li class="liste-bleue">
      <span class="noire">La réparation fait regagner 1 pts d'<span class="appui">Intégrité informatique</span>.</span>
    </li>
    <li class="liste-verte">
      <span class="noire">La réparation fait regagner 2 pts d'<span class="appui">Intégrité informatique</span>.</span>
    </li>
    <li class="liste-rouge">
      <span class="noire">La réparation fait regagner 3 pts d'<span class="appui">Intégrité informatique</span>.</span>
    </li>
  </ul>
  <h3>Énergie</h3>
  <p>Il est possible de recharger entièrement l'energie disponible à un POD, 1 fois / personnage-joueur impliqué dans la mission.</p>
  <h3>Médecine</h3>
  <table>
    <thead>
      <tr>
        <th>Niveau de blessure</th>
        <th>Difficulté du programme Médecine</th>
        <th>Temps de récupération</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Blessure légère (perte < Vie/2)</td>
        <td style="text-align: center">1</td>
        <td>1 jour standard</td>
      </tr>
      <tr>
        <td>Blessure moyenne (perte > Vie/2)</td>
        <td style="text-align: center">2</td>
        <td>3 jours standards</td>
      </tr>
      <tr>
        <td>Blessure grave ou coma (Vie = 0)</td>
        <td style="text-align: center">4</td>
        <td>1 semaine standard</td>
      </tr>
      <tr>
        <td>Maladie bégigne</td>
        <td style="text-align: center">1</td>
        <td>1 à 2 jours standards</td>
      </tr>
      <tr>
        <td>Maladie incapacitante</td>
        <td style="text-align: center">2</td>
        <td>3 à 6 jours standards</td>
      </tr>
      <tr>
        <td>Maladie mortelle</td>
        <td style="text-align: center">4</td>
        <td>1 mois standard ou plus</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li class="liste-noire"><span class="noire">L'organique meurt quelques secondes après l'opération.</span></li>
    <li class="liste-blanche"><span class="noire">Échec. Le temps de récupération est doublé. Une nouvelle tentative sera 12h plus tard, à difficulté +1</span></li>
    <li class="liste-bleue"><span class="noire">L'organique est stabilisé, et récupère à un rythme normal.</span></li>
    <li class="liste-verte"><span class="noire">L'organique est stabilisé, et son temps de récupération est / 2.</span></li>
    <li class="liste-rouge"><span class="noire">L'organique regagne immédiatement 2 Vie et son temps de récupération est / 4.</span></li>
  </ul>
</div>
