<div class="omega-journal">
  <table>
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Points de mise à jour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Caractéristique</td>
        <td>Caractéristique à atteindre *4</td>
      </tr>
      <tr>
        <td>Programme</td>
        <td>Programme à atteindre *2</td>
      </tr>
      <tr>
        <td>Sous-Programme</td>
        <td>Sous-Programme à atteindre *2</td>
      </tr>
      <tr>
        <td>Nouveau Slot</td>
        <td>8, 12, 16, 20... (ainsi de suite)</td>
      </tr>
    </tbody>
  </table>
</div>
