<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" /></h1>
    </header>
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>Technologie</th>
                    <th>Programme</th>
                    <th>Slots</th>
                    <th>Type</th>
                    <th>Coût énergie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><select name="system.technologie">
                        {{selectOptions config.ARME.TECHNOLOGIE selected=system.technologie}}
                        </select></td>
                    <td><select name="system.typeprogramme">
                        {{selectOptions config.ARME.TYPEPROGRAMME selected=system.typeprogramme}}
                        </select></td>
                    <td><input name="system.nbSlots" type="number" value="{{system.nbSlots}}" /></td>
                    <td><select name="system.type">
                        {{selectOptions config.EXTENSION.TYPE selected=system.type}}
                        </select></td>
                    <td><input name="system.coutenergie.label" type="text" value="{{system.coutenergie.label}}" /></td>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Portée</th>
                    <th>Autonomie</th>
                    <th>Cadence</th>
                    <th>Initiative</th>
                    <th>Précision</th>
                    <th>Effet de zone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input name="system.portee" type="text" value="{{system.portee}}" /></td>
                    <td><input name="system.autonomie" type="text" value="{{system.autonomie}}" /></td>
                    <td><input name="system.cadence" type="text" value="{{system.cadence}}" /></td>
                    <td><input name="system.initiative" type="text" value="{{system.initiative}}" </td>
                    <td><select name="system.precision">
                        {{selectOptions config.ARME.PRECISION selected=system.precision}}
                        </select></td>
                    <td><input name="system.zone" type="text" value="{{system.zone}}" /></td>
                </tr>
            </tbody>
        </table>
        <table class="diodesarmes">
            <thead>
                <tr>
                    <th colspan="2"><img class="diode diode-noire"></th>
                    <th colspan="2"><img class="diode diode-blanche"></th>
                    <th colspan="2"><img class="diode diode-bleue"></th>
                    <th colspan="2"><img class="diode diode-verte"></th>
                    <th colspan="2"><img class="diode diode-rouge"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select name="system.effetdiode.noire.degat">
                            {{selectOptions damagevalue selected=system.effetdiode.noire.degat}}
                        </select>
                    </td>
                    <td><select name="system.effetdiode.noire.effetcritique">
                        {{selectOptions config.EFFET_NEGATIF selected=system.effetdiode.noire.effetcritique labelAttr="label"}}
                        </select></td>
                    <td>
                        <select name="system.effetdiode.blanche.degat">
                            {{selectOptions damagevalue selected=system.effetdiode.blanche.degat}}
                        </select>
                    </td>
                    <td><select name="system.effetdiode.blanche.effetcritique">
                        {{selectOptions config.EFFET_NEGATIF selected=system.effetdiode.blanche.effetcritique labelAttr="label"}}
                        </select></td>
                    <td>
                        <select name="system.effetdiode.bleue.degat">
                            {{selectOptions damagevalue selected=system.effetdiode.bleue.degat}}
                        </select>
                    </td>
                    <td><select name="system.effetdiode.bleue.effetcritique">
                        {{selectOptions config.EFFET_CRITIQUE selected=system.effetdiode.bleue.effetcritique labelAttr="label"}}
                        </select></td>
                    <td>
                        <select name="system.effetdiode.verte.degat">
                            {{selectOptions damagevalue selected=system.effetdiode.verte.degat}}
                        </select>
                    </td>
                    <td><select name="system.effetdiode.verte.effetcritique">
                        {{selectOptions config.EFFET_CRITIQUE selected=system.effetdiode.verte.effetcritique labelAttr="label"}}
                        </select></td>
                    <td>
                        <select name="system.effetdiode.rouge.degat">
                            {{selectOptions damagevalue selected=system.effetdiode.rouge.degat}}
                        </select>
                    </td>
                    <td><select name="system.effetdiode.rouge.effetcritique">
                        {{selectOptions config.EFFET_CRITIQUE selected=system.effetdiode.rouge.effetcritique labelAttr="label"}}
                        </select></td>
                </tr>
            </tbody>
        </table>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
</form>