<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" /></h1>
  </header>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th>Slots</th>
          <th>Type</th>
          <th>Coût énergie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input name="system.nbSlots" type="number" value="{{system.nbSlots}}" /></td>
          <td>
            <select name="system.type">
              {{#select system.type}} {{#each config.EXTENSION.TYPE as |name type|}}
              <option value="{{type}}">{{name}}</option>
              {{/each}} {{/select}}
            </select>
          </td>
          <td><input name="system.coutenergie.label" type="text" value="{{system.coutenergie.label}}" /></td>
        </tr>
      </tbody>
    </table>
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
  </div>
</form>
