<div class="weapon-tab">
    <table>
        <thead>
            <tr>
                <th>Autonomie</th>
                <th>Cadence</th>
                <th>Initiative</th>
                <th>Portée/th>
                <th>Type</th>
                <th>Sous-Programme</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="system.autonomie" type="text" value="{{system.autonomie}}" /></td>
                <td><input name="system.cadence" type="text" value="{{system.cadence}}" /></td>
                <td><input name="system.initiative" type="text" value="{{system.initiative}}" /></td>
                <td><input name="system.portee" type="text" value="{{system.portee}}" /></td>
                <td><input name="system.type" type="text" value="{{system.type}}" /></td>
                <td>{{#if isowned}}
                    <select id="ssprogramme">
                        {{#each actorssprog as |ssprog index|}}
                        <option value="{{ssprog.numeroindex}}" {{#if ssprog.selected}}selected{{/if}}>{{ssprog.label}}
                        </option>
                        {{/each}}
                    </select>
                    {{else}}N/A
                    {{/if}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="description">{{localize "OMEGA.label.description"}}</div>
    {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
</div>